.card {
  position: relative;
  width: 80%;
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-20);
  width: 40%;
}

.todoName {
  font-size: 22px;
  font-weight: bold;
}

.todoId {
  position: absolute;
  font-size: 150px;
  margin: 0 20px 0 0;
  right: 0;
  top: -23px;
  color: rgba(80, 80, 80, 0.205);
}

.todoComplete {
  font-weight: bold;
  color: rgb(0, 255, 0);
}

.todoNotComplete {
  font-weight: bold;
  color: rgb(255, 0, 0);
}
