:root {
  --bg-header-footer: rgb(0, 255, 255);
  --bg-main: rgb(168, 255, 255);
  --border-color: rgb(255, 160, 154);

  --border-radius: 15px;
  --transparent: rgba(255, 255, 255, 0);
  --padding-10: 10px;
  --margin-20: 20px;
  --border-size: 2px;
}

[theme='dark'] {
  --bg-header-footer: rgb(0, 145, 145);
  --bg-main: rgb(87, 145, 145);
  --border-color: rgb(134, 83, 79);
}
